.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.primary-icon-color {
  color: #ffffff;
}

/* ion-icon {
  font-size: 64px;
} */

/* .testicon {
  font-size: 40px;
} */

/* .list-title {
  padding: 0;
  text-align: left;
} */
